body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin: 20px;
    gap: 20px;
}

.drag-area, .feature-table, .graph-area {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 30%;
}

.drop-box {
    border: 2px dashed #ccc;
    border-radius: 10px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
}

.drop-box img {
    max-width: 100px;
    cursor: pointer;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    padding: 10px;
    text-align: center;
}

canvas {
    border: 1px solid #ccc;
    background-color: #fff;
}
